//color classes
//for backgrounds
.primary-background{
  background-color: $primary;
}

.secondary-primary-background{
  background-color: $secondary-primary;
}

.dark-primary-background{
  background-color: $dark-primary;
}

.primary-neutral-background{
  background-color: $primary-neutral;
}

.secondary-neutral-background{
  background-color: $secondary-neutral;
}

.tertiary-neutral-background{
  background-color: $tertiary-neutral;
}

.light-neutral-background{
  background-color: $light-neutral;
}


//for links and others
.primary{
  color: $primary;
}

.secondary-primary{
  color: $secondary-primary;
}

.dark-primary{
  color: $dark-primary;
}

.primary-neutral{
  color: $primary-neutral;
}

.secondary-neutral{
  color: $secondary-neutral;
}

.tertiary-neutral{
  color: $tertiary-neutral;
}

.light-neutral{
  color: $light-neutral;
}
